body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  color: white;
}

.three {
  height: 250px;
}

/* Three JS */
canvas {
  /* position: absolute; */
  /* top: 0px;
  left: 50%;
  transform: translateX(-50%); */
  margin-top: 70px;
  width: 600px;
  height: 250px;
  z-index: -1;
  /* opacity: 30%; */
}

main {
  width: 600px;
  margin: auto;
  margin-top: 200px;
  padding-bottom: 200px;
}

a,
.link {
  white-space: nowrap;
  padding: 12px;
  margin-right: 12px;
  background-color: rgba(234, 234, 234, 0.052);
  border-radius: 80px;
  text-decoration: none;
  font-weight: 600;
  line-height: 300%;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 130px 130px;
  gap: 45px;
}

.grid > img {
  width: 130px;
  height: 85px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}

a {
  color: white;
}

a:visited:hover {
  color: white;
}

a:visited {
  color: rgb(215, 215, 215);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:hover {
  background-color: rgba(201, 201, 201, 0.143);
}

a::before {
  white-space: nowrap;
  content: "🔗 ";
  font-size: smaller;
  margin-right: 6px;
}

p {
  font-size: 1.7rem;
  line-height: 144%;
  margin: 0px;
  font-style: normal;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

h1 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

figure {
  margin: 0;
  border-left: 1px solid gray;
  padding-left: 24px;
  margin: 0;
  color: gray;
  margin-bottom: 3rem;
}

blockquote {
  margin: 0;
}

figcaption {
  margin: 0;
  margin-top: 24px;
}

@media (min-width: 1000px) {
}

@media (max-width: 1475px) {
}

@media (min-width: 760px) and (max-width: 1000px) {
}

@media (max-width: 600px) {
  main {
    width: calc(100% - 24px);
    margin-left: 24px;
    margin-right: 24px;
  }

  a {
    font-size: smaller;
    overflow: hidden;
  }

  canvas {
    width: 100%;
  }
}

/* ---------------- */

.blurred::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  --web-kit-backdrop-filter: blur(10px);
  pointer-events: none;
}
